<section id="home">
  <article>
    <h1 class="logo-home"></h1>
    <div id="background-image"></div>
  </article>
</section>
<section id="groupe">
  <article>
    <h1 class="viperswing-title">Viperswing</h1>
    <p>Après que la violonniste Eva Slongo soit partie s'installer à Paris, le groupe a le plaisir d'accueillir Jacques Ducrot à la clarinette et au saxophone alto. Viperswing, s'est surtout la musique de Django Reinhardt, du swing, mais aussi des valses musettes, des standards de Jazz et des compositions. </p>
    <div class="viperswing row">
      <div class="col-md-4 portrait">
        <img src="{{ '/assets/images/marco.png' | prepend: site.baseurl }}">
      </div>
      <div class="col-md-8 content marco">
        <a href="#" class="disco"><i class="btn btn-discography">discographie</i></a>
        <a href="#" class="bio"><i class="btn btn-biography">biographie</i></a>
        <h3>Marco Néri</h3>
        <h5>Guitare</h5>
        <div class="container">
          <div class="bio">
            <p>Marco découvre l'univers de Django Reinhardt à 24 ans et c'est à Paris, durant les années 1997-1998, qu'il s'initie à la guitare au jazz manouche. En 2002, de retour d'un séjour d'une année en Roumanie, il rencontre May Bittel avec qui il apprendra beaucoup.
            <p>En 2003, il crée avec Dany (le fils de May), le Dany Bittel quartet. Deux ans plus tard, il remplace Matthieu Chatelain au sein du Trio Belleville et part trois fois en tournée à travers la France, en première partie de Chuck Berry, Little Richard et Jerry Lee Lewis. Il joue alors notamment à L'Olympia, au Bataclan à Paris dans les Zenith de Clermont Ferrand, de Nancy, au Forum de Liège en Belgique et bien d'autres.</p>
            <p>La même année, il rencontre Bernard Dossin qui l'entraîne vers le jazz plus moderne et la chanson française. Ils fondent ensemble le groupe Swing Guitar's 05.</p>
            <p>Depuis Août 2006, il joue avec l'ensemble de Martin Abbuehl (co-fondateur des Hot Strings) à Berne : Swing Express, le groupe tourne dans toute la Suisse ainsi qu'en Allemagne, en Italie,en Belgique et en France.</p>
            <p>Marco à également travaillé pour le théâtre. En 2006, il a co-signé la bande son de la pièce "Lulu" de Gianni Schneider au théâtre de Vidy et a joué dans "La Corde sensible" de Vincent Ozanon au théâtre studio à Alfortville. En 2009 il joue pendant un mois dans "la corde sensible" sous le chapiteau Rromanès à Paris. A cette occasion il a joué avec Jean-Claude Laudat, Serge camps, Aurore Voilqué, Francois Castiello et Dan Garibhian (BRATSCH), Hervé Pouliquen, Francois Hégron, Romain Brizemur, Romain Constant etc..Depuis 2010, son ami Nery l'embarque dans d'autres aventure comme le festival du vent à Calvi en Corse, ou le bal Pop'hilare chaque année au thèâtre Rutebeuf à Clichy.</p>
            <p>En 2014, il arrête l'aventure Swing Express pour se consacrer d'avantage à Viperswing. Il joue aussi avec le "Fléche d'or Trio" et est régulirement invité par ses amis du groupe "un Nerf de Swing".</p>
          </div>
          <div class="disco">
            <p>Ecouter la discographie de Marco sur <a href="http://www.radioswissjazz.ch/fr/musiciens/artistes/247833255e55e42897248a368e4834bf047e86/discography" target="_blank" class="content-link">Radio Swiss Jazz</a></p>
            <img src="{{ '/assets/images/disco-marco.png' | prepend: site.baseurl }}">
          </div>
        </div>
      </div>
      <div class="col-md-4 portrait">
        <img src="{{ '/assets/images/jacques.png' | prepend: site.baseurl }}">
      </div>
      <div class="col-md-8 content">
        <h3>Jacques Ducrot</h3>
        <h5>Clarinette</h5>
        <p>Débute dans le jazz à l'age de douze ans comme washboardiste puis batteur dans les orchestres Canal Street Band et Dippermouth Jazz Band.</p>
        <p>Débuts en autodidacte suivis de perfectionnements auprès de Raymond Graisier , de l 'APEJS de Chambéry et du CIM de Paris . Parallèlement, il se met à la clarinette puis au saxophone. En 1989 il intègre la célèbre formation genevoise Dry Throat Five (qui devient à cette occasion Dry Throat Fellows ), se produisant ainsi dans de nombreux concerts et festivals européens jusqu' en 1996.</p>
        <p>Il participe de 1997 à 2003 à l'orchestre swing 30's Buddies. Il apparaît également dans les contextes les plus divers (rock, musique africaine, soul music).</p>
        <p>Quelques incursions dans un jazz plus "moderne" et de nombreuses apparitions dans les formations de la région lémanique.</p>
        <p>Il a participé aux orchestres Canal Street Band, Dippermouth Jazz Band, Mama & the Kids, joue régulièrement ou occasionnellement au sein des orchestres Lakeside Jazz Group, Alarm Jazz Band, Old New Orleans Monkeys, No-one Jazz Orchestra, Pierre Losego Quartet, Dry Throat Five, Feetwarmers et a joué avec Claude Luter, Maxime Saury, Irakli, Bob Wilber et Jim Galloway.</p>
      </div>
      <div class="col-md-4 portrait">
        <img src="{{ '/assets/images/eric.png' | prepend: site.baseurl }}">
      </div>
      <div class="col-md-8 content eric">
        <h3>Eric Hoznour</h3>
        <h5>Guitare rythmique</h5>
        <p>Eric est le moteur du groupe. C'est lui qui tient le rythme. Il assure la rythmique avec précision et efficacité. Indispensable pour ce genre de musique, son boulot s'appelle "faire la pompe". Eric est finlandais d'origine, il fait partie du groupe depuis 2007.</p>
      </div>
      <div class="col-md-4 portrait">
        <img src="{{ '/assets/images/alain.png' | prepend: site.baseurl }}">
      </div>
      <div class="col-md-8 content alain">
        <a href="#" class="disco"><i class="btn btn-discography">discographie</i></a>
        <a href="#" class="bio"><i class="btn btn-biography">biographie</i></a>
        <h3>Alain Dessauges</h3>
        <h5>Contre basse</h5>
        <div class="container">
          <div class="bio">
            <p>Bassiste Depuiss longtemps, Alain a commencé à jouer de la contrebasse et du jazz manouche avec Marco en 2002. Il a rejoint le Dany Bittel Quartet en 2003. Ayant acquis une solide expérience au fil des ans, il est devenu un musicien apprécié et demandé. Il joue aussi avec le groupe Sinti Swing quartet et les Manouches Tsé-Tsé de Vevey.</p>
          </div>
          <div class="disco">
            <p>Ecouter la discographie d'Alain sur <a href="http://www.radioswissjazz.ch/fr/musiciens/artistes/206060be1cff3895c87a38daa8acb1574e3842/discography" target="_blank" class="content-link">Radio Swiss Jazz</a></p>
            <img src="{{ '/assets/images/disco-alain.png' | prepend: site.baseurl }}">
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<section id="dates">
  <article>
    <h1 style="z-index:1000;position:relative;">Concerts</h1>
      {% if site.data.concerts %}
        {% for concert in site.data.concerts %}
          {% if concert.visible %}
            <div class="date">
              <h2>{{ concert.date-hours }}</h2>
              <h2 class="place"><a href="{{ concert.place-link }}" target="_blank">{{ concert.place }}</a></h2>
              <p>{{ concert.description }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div style="z-index:1000;position:relative;">
          <h3 style="color: #fff;font-size: 28px;text-align: center;margin-bottom: 12px;">De nouvelle date de concerts arriveront bientôt !</h3>
          <p style="color: #fff;font-size: 22px;text-align: center;">Vous voulez organiser un concert ? <a href="#contact">contacter nous</a></p>
        </div>
      {% endif %}
    <div class="instru"></div>
  </article>
</section>
<section id="media">
  <article>
    <h1>Media</h1>
    <nav>
      <ul>
        <li class="active"><a href="#" data-id="clip">clip</a></li>
        <li><a href="#" data-id="gallery">gallerie</a></li>
      </ul>
    </nav>
    <div>
      <div id="clip" class="active-container">
        <div class="container-clip">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/yYMbMEh_h4U" frameborder="0" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/upjXPM6o4EM" frameborder="0" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/upjXPM6o4EM" frameborder="0" allowfullscreen></iframe>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/rFw22fFmaNo" frameborder="0" allowfullscreen></iframe><br />
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HQg20tzm6mk" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div id="gallery">
        <a href="{{ '/assets/images/media-1.jpg' | prepend: site.baseurl }}" class="gallery" rel="group">
          <img src="{{ '/assets/images/media-1-thumb.jpg' | prepend: site.baseurl }}" class="thumbnail">
        </a>
        <a href="{{ '/assets/images/media-2.jpg' | prepend: site.baseurl }}" class="gallery" rel="group">
          <img src="{{ '/assets/images/media-2-thumb.jpg' | prepend: site.baseurl }}" class="thumbnail">
        </a>
        <a href="{{ '/assets/images/media-3.jpg' | prepend: site.baseurl }}" class="gallery" rel="group">
          <img src="{{ '/assets/images/media-3-thumb.jpg' | prepend: site.baseurl }}" class="thumbnail">
        </a>
        <a href="{{ '/assets/images/media-4.jpg' | prepend: site.baseurl }}" class="gallery" rel="group">
          <img src="{{ '/assets/images/media-4-thumb.jpg' | prepend: site.baseurl }}" class="thumbnail">
        </a>
        <a href="{{ '/assets/images/media-5.jpg' | prepend: site.baseurl }}" class="gallery" rel="group">
          <img src="{{ '/assets/images/media-5-thumb.jpg' | prepend: site.baseurl }}" class="thumbnail">
        </a>
      </div>
    </div>
  </article>
</section>
<section id="contact">
  <article>
    <h1>Contact</h1>
    <p>+41 (0) 76 570 04 81</p>
    <p><a href="mailto:info@viperswing.ch">info@viperswing.ch</a></p>
    <p><a href="https://www.facebook.com/VIPERSWING-218926130165/timeline/" target="_blank">facebook.ch/viperswing</a></p>
    <div class="viper"></div>
  </article>
</section>
<section class="thanks">
  <p>Remerciements à : Alex Schuler pour la viédo/son, Lucian Cacères pour les photos, Alex pointet pour les logos.</p>
</section>